* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font: 18px/1.5 sans-serif;
  color: #f5f5f5;
}

p, span, h1, h2, h3, h4, h5, h6 {
  color: #f5f5f5;
}

a {
  color: white;
}

.page-container {
	display: block;
	background: black;
	height: 100vh;
}


.album {
	height: 100%;
	width: 100%;
	background-color: white;
	position: absolute;
}

.albums-container {
	width: 500px;
	height: 500px;
	display: block;
	background-color: transparent;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.album-btn {
  width: 400px;
}
